.main-btn {
    background-color: rgba($color:$redColor,$alpha: 0.8);
    color: #fff;
    padding: 10px 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    max-width: 100px;
    display: block;
    @include smooth;
    &:hover {
        background-color: $redColor;
    }
}