.slider {
    .container {
        q{
            font: italic 20px bold;
            max-width: 80%;
            margin: 30px auto;
            display: block;
            line-height: 1.7;
            text-align: center;
        }
        img {
            width: 100%;
            height: 65vh;
        }
        .bullets {
            @include flex-center;
            gap: 5px;
            li {
                background-color: $geryColor;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 3px solid transparent;
                &.active {
                    background-color: #fff;
                    border-color: #000;
                }
            }
        }
    }
}
// service section
.service-content {
    @include flex;
    gap: 20px;
    @include smScreen {
        flex-direction: column;
        gap: 50px;
    }
    h3 {
        margin-bottom: 15px;
        @include flex;
        align-items: center;
        i {
            font-size: 2rem;
            margin-right: 10px;
            color: $geryColor;
        }
        @include smScreen {
            justify-content: center;
        }
    }
    p {
        color: $geryColor;
        text-align: justify;
        margin-bottom: 20px;
    }
    a {
        color: $redColor;
        display: block;
    }
}
//our players
.our-players-content {
    @include flex;
    gap: 5px;
    @include smScreen {
        flex-wrap: wrap;
    }
    @include xsScreen {
        flex-direction: column;
    }
    .player-box {
        @include smScreen {
            width: 48%;
            margin-bottom: 20px;
        }
        @include xsScreen {
            width: 100%;
        }
        h4 {
                font-weight: normal;
                margin-bottom: 10px;
                span {
                    font-weight: normal;
                }
            }
            p {
                color: $geryColor;
                text-align: start;
                margin-bottom: 20px;
            }
            a {
                color: $redColor;
        }
    }
    
} 

.lorem-ipsum {
    .lorem-content {
        @include flex;
        margin-bottom: 50px;
        justify-content: space-between;
        img {
            width: calc(98% / 3);
            @include smScreen {
                width: 100%;
            }
        }
        @include smScreen {
            flex-direction: column;
            gap: 20px;
        }
    }
}