* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//defualt settings for our container
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /*Medium Screen (Ipad)*/
    @include mdScreen {
            width: 720px;
    }
    /*small lap Screen*/ 
    @include lgScreen { 
            width: 940px;
    }
    /* big Screen */
    @include xlgScreen {
            width: 1140px;
    }
}
